<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <style media="screen">
        body {font-family: "Trebuchet MS";}
    </style>
</head>
<body>
<div align="center">
<h1>Create New Post</h1>
<form action="/add_post" method="POST" id="blog_form">
    <div>Post Title: <input type="text" name="title" placeholder="Enter title here"></div>

    <div><textarea rows="30" cols="100" name="content" placeholder="Enter text here" form="blog_form" ></textarea></div>

    <div><input type="submit" value="Publish"></div>
</form>
</div>
</body>
</html>
